* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.UserList {
 
  margin-top: 50px;
  text-align: center;
}

.heading {
  color: rgb(71, 71, 71);
  margin-bottom: 20px;
}

h3{
    color: rgb(71, 71, 71);
    margin-bottom: 20px;
    text-align: center;
}

.global-btn {
  background-color: #48bf53;
  padding: 8px 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.UserList .global-btn {
  margin-bottom: 50px;
}

.center-grid{
    max-width: 1024px;
    margin: auto;
}

.grid-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  gap: 20px;
  justify-content: center;
}

.grid-item{
    background-color: #c9eec5;
    padding: 20px 25px;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.email{
    font-weight: 400;
    color: rgb(71, 71, 71);
}

.gap{
    margin-right: 10px;
}

span{
    cursor: pointer;
}

.Add-user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center{
    justify-content: center;
    text-align: center;
}

.form{
    display: block;
    justify-content: center;
    align-items: center;
}

.form label{
    color: rgb(71, 71, 71);
    font-weight: 500;
    font-size: 18px;
}

.form input{
    margin-top: 10px;
    border: none;
    border: 1px solid   #c9eec5;
    border-radius: 6px;
    outline: none;
    padding: 15px 30px;
    background-color:  #c9eec5;
    margin-left: 5px;
}
